[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pymysql = "*"
flask-bcrypt = "*"
python-dotenv = "*"
flask-wtf = "*"
email-validator = "*"
flask-sqlalchemy = "*"
flask-login = "*"
phonenumbers = "*"

[dev-packages]

[requires]
python_version = "3.11"
